
<table>
	<tr>
		<td>
		    <%= link_to image_tag('VIP.png'), analyses_path(:strain => 'vip'), :alt => "VIP neurons" %>
		</td>
		<td>
			<%= link_to image_tag('YFP_Cortex.jpg'), analyses_path(:strain => 'som'), :alt => "SOM neurons"%>
		</td>
	</tr>
	<tr>
		<td>
			<%= link_to image_tag('PV.png'), analyses_path(:strain => 'pv'), :alt => "PV neurons" %>
		</td>
		<td>
			<%= link_to image_tag('YFP_Cortex.jpg'), analyses_path(:strain => 'unknown'), :alt => "Excitatory" %>
		</td>
	</tr>
	<tr>
		<td>
			<%= link_to image_tag('PV.png'), analyses_path(:strain => 'scnn1a'), :alt => "Scnn1a neurons" %>
		</td>
	</tr>
</table>