<h1>Analysis List (<%= @strain %>)</h1>
<div>
    <table>
        <caption style="caption-side:bottom"><%= will_paginate @analyses %></caption>
        <thead>
            <tr><th>Type</th> <th>Depth (um)</th> <th>Mouse ID</th> <th>Cell ID</th> </tr>
        </thead>
        <tbody>
            <% @analyses.each do |analysis| %>
            <tr>
				<td><%= link_to analysis.analysis_type, analysis %></td>
				<td><%= link_to analysis.cell.depth, analysis %></td>
                <td><%= link_to analysis.cell.mouse.id, analysis %></td>
                <td><%= link_to analysis.cell.id, analysis %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    
</div>