<!DOCTYPE html>
<html>
<head>
  <title>BarrelVm</title>
  <%= stylesheet_link_tag    "application", :media => "all", 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    params[:controller] %>
  <%= javascript_include_tag "application", 'data-turbolinks-track': 'reload'%>
  <%= csrf_meta_tags %>
</head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "BARREL Vm DATABASE", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Download data",   '#' %></li>
          </ul>
        </nav>
      </div>
	</header>
	<div class="container">
      <%= yield %>
	  <footer class="footer">
  <small>
    The membrane potential recordings
    by Taro Kiritani
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://lsens.epfl.ch">Petersen Lab @ EPFL</a></li>
    </ul>
  </nav>
</footer>
    </div>
  </body>
</html>
